In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2020-08-26 02:15:57,3.07,172.79,81.99,70,3,7.72
1,1,Hinton,CA,2020-08-26 02:11:32,53.40,-117.59,61.99,44,86,1.66
2,2,Kapaa,US,2020-08-26 02:15:57,22.08,-159.32,86.00,66,1,12.75
3,3,Thompson,CA,2020-08-26 02:15:57,55.74,-97.86,51.80,87,90,6.93
4,4,Qrendi,MT,2020-08-26 02:15:58,35.83,14.46,78.01,83,0,3.36
...,...,...,...,...,...,...,...,...,...,...
551,551,Xinzhou,CN,2020-08-26 02:17:15,38.41,112.73,73.90,53,94,1.70
552,552,San Patricio,MX,2020-08-26 02:17:15,19.22,-104.70,84.20,74,90,11.41
553,553,Mersing,MY,2020-08-26 02:17:16,2.43,103.84,77.00,94,20,3.36
554,554,Yulin,CN,2020-08-26 02:17:16,22.63,110.15,85.69,74,46,2.21
555,555,Svay Rieng,KH,2020-08-26 02:15:35,11.09,105.80,87.76,62,0,9.33

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2020-08-26 02:15:57,3.07,172.79,81.99,70,3,7.72
2,2,Kapaa,US,2020-08-26 02:15:57,22.08,-159.32,86.00,66,1,12.75
4,4,Qrendi,MT,2020-08-26 02:15:58,35.83,14.46,78.01,83,0,3.36
7,7,Hithadhoo,MV,2020-08-26 02:15:58,-0.60,73.08,82.04,75,100,8.28
8,8,Massaguet,TD,2020-08-26 02:15:58,12.48,15.44,75.20,94,20,2.24
14,14,Carutapera,BR,2020-08-26 02:15:59,-1.20,-46.02,75.15,88,0,4.38
17,17,Lethem,GY,2020-08-26 02:15:59,3.38,-59.80,76.14,83,93,5.64
18,18,Pundaguitan,PH,2020-08-26 02:16:00,6.37,126.17,83.53,77,0,12.73
23,23,Nhulunbuy,AU,2020-08-26 02:16:00,-12.23,136.77,80.60,65,75,17.22
27,27,Vanimo,PG,2020-08-26 02:16:01,-2.67,141.30,87.31,61,4,6.40

In [12]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
0    Butaritari      KI     81.99   3.07  172.79
2         Kapaa      US     86.00  22.08 -159.32
4        Qrendi      MT     78.01  35.83   14.46
7     Hithadhoo      MV     82.04  -0.60   73.08
8     Massaguet      TD     75.20  12.48   15.44
14   Carutapera      BR     75.15  -1.20  -46.02
17       Lethem      GY     76.14   3.38  -59.80
18  Pundaguitan      PH     83.53   6.37  126.17
23    Nhulunbuy      AU     80.60 -12.23  136.77
27       Vanimo      PG     87.31  -2.67  141.30

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,81.99,3.07,172.79,Isles Sunset Lodge
2,Kapaa,US,86.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
4,Qrendi,MT,78.01,35.83,14.46,Ta' Bertu Host Family Bed & Breakfast
7,Hithadhoo,MV,82.04,-0.60,73.08,Scoop Guest House
8,Massaguet,TD,75.20,12.48,15.44,Alwatane
14,Carutapera,BR,75.15,-1.20,-46.02,Lidera
17,Lethem,GY,76.14,3.38,-59.80,Savannah Inn
18,Pundaguitan,PH,83.53,6.37,126.17,Leonardo Family Beach House 1
23,Nhulunbuy,AU,80.60,-12.23,136.77,East Arnhem Real Estate
27,Vanimo,PG,87.31,-2.67,141.30,Vahmoneh Lodge Vanimo

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))